<div class="content align-left">
    <div class="row">
        <div class="col-md-2">
            <label class="radio-inline"><input type="radio" (click)="allFilter()" name="radio"> All({{allCountVal}})</label>
        </div>
        <div class="col-md-2">
            <label class="radio-inline"><input type="radio" (click)="maleFilter()" name="radio"> Male({{maleCount}})</label>
        </div>
        <div class="col-md-2">
            <label class="radio-inline"><input type="radio" (click)="femaleFilter()" name="radio"> Female({{femaleCount}})</label>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" [routerLink]="['/add']">Add User</button>
        </div>
    </div>
</div>