<div class="container">
    <h1>Add Lawyers</h1>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" [(ngModel)]='name' class="form-control" id="name" required>
        </div>

        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" name="age" [(ngModel)]='age' class="form-control" id="age" required>
        </div>
        <div class="radio-group">
            <p>Gender</p>
            <label><input name="gendre" type="radio" class="radio-inline" (click)="selectGender('Male')">Male</label>
            <label><input name="gendre" type="radio" class="radio-inline" (click)="selectGender('Female')">Female</label>

        </div>

        <button type="submit" (click)="saveForm()" class="btn btn-success">Submit</button>

    </form>
</div>