<div class="container">
    <div class="well header-well">
        <app-header [lawyers]="lawyers" [allCountVal]="allCount" (filterEvent)="filterData($event)"></app-header>
    </div>
    <div class="well">
        <div class="table-responsive">
            <table class=" table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let actor of lawyers; let i = index">
                        <td>{{actor.name}}</td>
                        <td>{{actor.Age}}</td>
                        <td>{{actor.Gender}}</td>
                        <td><a class="btn btn-md" (click)="deleteArray(actor.id)">Delete</a></td>
                        <td><a class="btn btn-md" [routerLink]="['/details',actor.id]">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>